<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Vnnox DataVerification">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./DataVerification</directory>
            <file>/path/to/file</file>
            <exclude>
                <directory suffix=".php">/path/to/files</directory>
                <file>/path/to/file</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
